
        <!-- MAIN END -->
        <div class="footer">
           <div class="footerRight">
                <p class="powder">Powered By</p>
                <a href="http://www.young-soft.com" class="qrLogo">青软工作室</a>
            </div>
        </div>
    </div>
</body>
</html>
