<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>标题</title>
    <link rel="stylesheet" href="/stylesheets/basic.min.css" /><!--基础样式-->
    <link rel="stylesheet" href="/stylesheets/download.min.css" />
    <link rel="stylesheet" href="/stylesheets/search.min.css">
</head>
<body>
    <div id="wraper">
        <div class="header">
            <a href="/" class="smallLogo">首页</a>
            <form action="/search" class="searchBox">
                <input type="text" name="keyword" class="searchText transform" autofocus="" />
                <input type="submit" class="searchBtn" value=" " />
            </form>
        </div>
        <!-- HEADER END -->